#logo {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    font-weight: bolder;
    color: black
}

#navs {
    display: flex;
    font-size: 20px;
}
#navs a:hover{
    color: red;
}

#ul-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 10pt;

}

.nav-links {
    text-decoration: none;
    font-size: l5pt;
    font-weight: bolder;
    gap: 3opx;
}


#backgroundimage {
    background-image: url(../free-photo-of-group-of-soldiers-standing.jpeg);
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#backgroundimage {
    height: 100vh;
}

.ctn {
    display: flex;


}

.ctn img {
    width: 80px;
}

#backgroundimage-text {
    color: beige;
    padding-top: 10rem;
    margin-left: 15rem;
    font-size: xx-large;
}

.arms {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px ;
    justify-content: center;
}

.image img{
    width: 100%;
    height: 250px;
    /* object-fit: cover; */ 

}
#about-us{
    text-align: center;
    text-decoration-color: black;
}
.about-btn{
    border: none;
    background-color: orange;
    padding: 10px 30px;
    border: 20px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: aqua;
    text-align: center;

}
.about-btn a{
    color: white;
    text-decoration: none;
    
}
.about-btn:hover{
    background-color: green;
}
.about-btn:hover{

    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, rgb(230, 232, 235) 0%, #c500cc 100%);
    color: #0066cc;
    border: solid 2px #0066cc;
    }
    
    .row{
        display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px ;
    justify-content: center;
}
        
    .web1-link{
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
    }

    .web2-link{
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
    }
    .web3-link{
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
    }
    .web1_link,web2-link,web3-link:hover{
        transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, rgb(230, 232, 235) 0%, #c500cc 100%);
    color: #0066cc;
    border: solid 2px #0066cc;

    }



